@layer reset, base, tokens, recipes, utilities;

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  -webkit-print-color-adjust: exact !important;
  print-color-adjust: exact !important;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/font/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/font/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/font/Roboto-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/font/Roboto-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Playfair Display";
  src: url("./assets/fonts/PlayfairDisplay-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Playfair Display";
  src: url("./assets/fonts/PlayfairDisplay-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Playfair Display";
  src: url("./assets/fonts/PlayfairDisplay-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Playfair Display";
  src: url("./assets/fonts/PlayfairDisplay-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Dancing Script";
  src: url("./assets/fonts/DancingScript-VariableFont_wght.ttf")
    format("truetype-variable");
  font-weight: 400 500 600 700;
}

@font-face {
  font-family: "Dancing Script";
  src: url("./assets/fonts/DancingScript-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Dancing Script";
  src: url("./assets/fonts/DancingScript-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Dancing Script";
  src: url("./assets/fonts/DancingScript-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Dancing Script";
  src: url("./assets/fonts/DancingScript-Regular.ttf") format("truetype");
  font-weight: 400;
}

:root {
  --font-roboto: "Roboto", sans-serif;
  --font-playfair: "Playfair Display", serif;
  --font-dancing: "Dancing Script", cursive;
}
